<!DOCTYPE html>
<html>
	<head>		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Bible on-the-go</title>

		<!-- SCROLLS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- SPELLS -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script type="text/javascript" src="bible.js"></script>
	</head>
	
	<body ng-app="AlkitabApps" ng-controller="myCtrl">

		<!-- NAVBAR -->
		<div class="navbar-fixed">
			<nav class=" blue-grey darken-2">
				<!-- Navbar Content -->
				<div class="nav-wrapper container">
					<span class="brand-logo center" style="font-size:20px">
						<form>
						<input type="text" ng-model="search" value="{{book}} {{chapter}}" style="text-align:center; font-size:1.2em">
						<input type="submit" hidden="true" ng-click="update()">
						</form>
					</span>
					<a class="btn-flat transparent waves-effect left" ng-click="updatePrev()" style="height:54px; line-height: 56px; color:white">
						<i class="material-icons">keyboard_arrow_left</i>
					</a>
					<a class="btn-flat transparent waves-effect right" ng-click="updateNext()" style="height:54px; line-height: 56px; color:white">
						<i class="material-icons">keyboard_arrow_right</i>
					</a>					
				</div>
			
				<!-- ProgressBar displayed only when loading -->
				<div class="progress" style="margin:0px" ng-show="loading">
					<div class="indeterminate"></div>
				</div>
			</nav>
		</div>
		
	
		<!-- CONTENT -->
		<div class="container">	
			<div class="section" id="#top">									
				<p id="bible" ng-repeat="verse in verses" ng-style="fontSizeStyle">
					<sup>{{verse.verse}}</sup> &nbsp {{verse.text}}
				</p>
			</div>
		</div>
		

		<!-- FLOATING BUTTON -->
		<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
			<a class="btn-floating btn-large red">
				<i class="large material-icons waves-effect waves-light modal-trigger" href="#bottomModal">search</i> <!-- Modal Trigger -->
			</a>
			<ul>
				<li><a class="btn-floating green" ng-click="reduceFontSize()"><i class="material-icons">zoom_out</i></i></a></li>
				<li><a class="btn-floating blue" ng-click="increaseFontSize()"><i class="material-icons">zoom_in</i></a></li>
			</ul>
		</div>

		<!-- BOTTOM MODAL -->
		<div id="bottomModal" class="modal bottom-sheet">
			<div class="modal-content container">
				<h4>Cari Alkitab</h4>
				<form>
					<input id="search" type="text" ng-model="search" onclick="this.select()">
					<input class="btn modal-action modal-close" type="submit" ng-click="update()" value="search">				
				</form>
			</div>
			<div class="modal-footer">
				<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
			</div>
		</div>
			
	</body>
</html>
